@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .edit-title {
    @apply text-center min-[1940px]:text-5xl text-3xl text-white font-bold min-[1940px]:my-24 my-10;
  }
  .edit-entry-button {
    @apply text-[#556593] hover:text-white bg-white hover:bg-[#556593] border hover:border-white rounded-lg w-20 py-2;
  }

  .edit-label {
    @apply text-white;
  }

  .edit-form {
    @apply border min-[1940px]:h-14 h-10 text-black rounded p-1;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
